<!DOCTYPE html>
<html>
	<head>
		{% load static %}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    	<link rel="stylesheet" type="text/css" href="{% static 'shawn/css/semantic.min.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'shawn/css/semantic.css' %}">
    	<script src="{% static 'shawn/js/Blog.js' %}"></script>
		<title>Blog</title>
	</head>
	<body>
		<div>
			<div class="ui category search">
				<div class="ui icon input">
					<input id="searchtext" class="prompt" placeholder="Search text..." type="text">
					<div class="ui button" id="search" >Go</div>
				</div>
			</div>
			<div id="introduction">ShawnLu</div>
			{% if BlogList %}
			<div class="ui items">
				{% for detail in BlogList %}
				<div class="item">
					<div class="content">
						<div class="header">{{ detail.title }}</div>
						<input value="{{ detail.id }}" id="id" type="hidden">
						<div class="meta"><span>Description</span></div>
						<div class="description"></div><p>{{ detail.content }}</p></div>
						<div class="extra">Additional Details</div>
					</div>
				</div>
				{% endfor %}
			{% endif %}
		</div>
	</body>
</html>
