<!DOCTYPE html>
<html>
	<head>
		<title>{{ BlogOverview.title }}</title>
		{% load static %}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    	<link rel="stylesheet" type="text/css" href="{% static 'shawn/css/semantic.min.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'shawn/css/semantic.css' %}">
    	<script src="{% static 'shawn/js/BlogDetail.js' %}"></script>
	</head>
	<body>
		<h1>{{ BlogOverview.title }}</h1>
		<div>
			<div><input type="hidden" value="{{ request.path }}" id="path"/><input type="hidden" value="{{ BlogOverview.id}}" id="id"/></div>
			{% csrf_token %}
			{% if request.user %}
				{% if request.user.username != '' %}
					<div>
						<p>{{ request.user.username }}|<input class="ui button" type="submit" id="logout" value="logout"/></p>
					</div>
				{% else %}
					<div ><input class="ui button" type="submit" id="login1" value="login" />|<input class="ui button" type="submit" id="signup1" value="signup" /></div>
				{% endif %}
			{% else %}
				<div ><input class="ui button" type="submit" id="login2" value="login"/>|<input class="ui button" type="submit" id="signup2" value="signup"/></div>
			{% endif %}
		</div>
        <div id="content">
			{{ BlogOverview }}
		</div>
		<div class="ui comments">
			<h3 class="ui dividing header">Comments</h3>
			<div id="comments"></div>
            <div class="actions">
                <a class="reply active">Reply</a>
            </div>
            <form class="ui reply form">
                <div class="field">
                    <textarea id="text"></textarea>
                </div>
                <div class="ui primary submit labeled icon button" id="reply">Add Reply </div>
            </form>

		</div>
	</body>
</html>
