<!DOCTYPE html>
<html>
	<head>
		<title>{{ BlogOverview.title }}</title>
		{% load static %}
		<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    	<link rel="stylesheet" type="text/css" href="{% static 'shawn/css/semantic.min.css' %}">
    	<link rel="stylesheet" type="text/css" href="{% static 'shawn/css/semantic.css' %}">
    	<script src="{% static 'shawn/js/BlogDetail.js' %}"></script>
	</head>
	<body>
		<h1>{{ BlogOverview.title }}</h1>
		<div>
			<div><input type="hidden" value="{{ request.path }}" id="path"/></div>
			{% csrf_token %}
			{% if request.user %}
				{% if request.user.username != '' %}
					<div>
						<p>{{ request.user.username }}|<input class="ui button" type="submit" id="status" value="logout"/></p>
					</div>
				{% else %}
					<div ><input class="ui button" type="submit" id="status" value="login" />|<input class="ui button" type="submit" id="status" value="signup" /></div>
				{% endif %}
			{% else %}
				<div ><input class="ui button" type="submit" id="status" value="login"/>|<input class="ui button" type="submit" id="status" value="signup"/></div>
			{% endif %}
		</div>
        <div id="content">
			{{ BlogOverview }}
		</div>
		<div id="comment">
			{% if comments %}
				<ol>comment
					{% for num in range %}
						<li>
							<div>
								{% for comment in comments %}
									{% if comment.num == num %}
										<p>{{ comment.comment }}</p>
									{% endif %}
								{% endfor %}
							</div>
							<div>
								<form action="{{ BlogOverview.id }}/comment" method="post">
                                 {% csrf_token %}
                                    <div>Comment: <input type="text" name="comment" /><p><input type="submit" value="submit" /></p></div>
									<div><input type="hidden" name="num" value="{{ num }}" /></div>
								</form>
							</div>
						</li>
					{% endfor %}
				</ol>
			{% endif %}
		</div>
	</body>
</html>
