body {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	background-size: cover;
	background-image: url(background2.jpg);
}
#body {
	position: relative;
	left: 20%;
	width: 60%;
	border: solid 1px #909090;
	margin-top: 5%;
	margin-bottom:5%;
	height: 80%;
	background-color: #FFFFFF;
}
#Search {
	position: absolute;
	width:30%;
	height: 10%;
	border: 1px solid #909090;
	border-bottom: 0.5px solid #909090;
	bottom-right: 0.5px solid #909090;
}
#introduction {
	position: absolute;
	width:30%;
	top: 10%;
	height: 30%;
	border: 1px solid #909090;
	border-top: 0.5px solid #909090;
	border-bottom: 0.5px solid #909090;
	border-right: 0.5px solid #909090;
}

#list {
	position: absolute;
	top: 40%;
	width: 30%;
	height: 60%;
	border: solid 1px #909090;
	border-top: 0.5px solid #909090;
	border-right: 0.5px solid #909090;
}
#list ol li a{
	text-decoration: none;
	color: #3399CC;
}
#title {
	margin-bottom:30%;
	word-wrap: break-word;
}
#detail {
	margin-bottom: 5%;
}
#BlogOverview {
	position: absolute;
	border: solid 1px #909090;
	border-top: 0.5px solid #909090;
	border-left: 0.5px solid #909090;
	left: 30%;
	top: 10%;
	width: 70%;
	height: 90%
}
#BlogOverview ul {
	text-align: left;
}
#BlogOverview ul li {
}

